@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 5px;
  font-family: 'Lora', serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-bar-container span {
  font-size: 30px;
}

.progress-bar-content {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.progress-bar {
  height: 28px;
  width: 97%;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  background-color: lightgray;
}

.progress-bar-percentage {
  height: 27px;
  border-style: none;
  border-radius: 20px;
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  color: white;
  position: relative;
  z-index: 3;
  right: 0;
  padding-top: 1%;
  transition: 1.5s ease 0.3s;
}

input {
  width: 15%;
  border-radius: 20px;
  text-align: center;
}
